@font-face {
  font-family: "sega";
  src: url("./sega-logo-font-cufonfonts-webfont\ \(1\)/SEGA.woff");
}

body {
  background-image: url("../images/pexels-thisisengineering-3913025.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200vh;
  height: auto;
  overflow-x: hidden;
}
* {
  padding: 0% 5px;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#root > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "sega";
  color: #fff;
}

main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.crad-robot {
  width: auto;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #9eebcf;
  margin: 30px;
  transition: all 0.8s ease-in-out;
}

.crad-robot1 {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #9eebcf;
  margin: 30px;
  transition: all 0.8s ease-in-out;
  z-index: 2000;
  position: absolute;
}

.crad-robot:hover {
  transform: scale(1.1);
}

img {
  width: auto;
  height: 200px;
}

.loader {
  -webkit-perspective: 700px;
  perspective: 700px;
  width: auto;
  display: flex;
  justify-content: space-between;
}

.loader > span {
  font-size: 130px;
  font-family: "franklin gothic medium", sans-serif;
  animation: flip 2.6s infinite linear;
  transform-origin: 0 70%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

@keyframes flip {
  35% {
    transform: rotateX(360deg);
  }
  100% {
    transform: rotatex(360deg);
  }
}

.loader > span:nth-child(even) {
  color: white;
}

.loader > span:nth-child(2) {
  animation-delay: 0.3s;
}

.loader > span:nth-child(3) {
  animation-delay: 0.6s;
}

.loader > span:nth-child(4) {
  animation-delay: 0.9s;
}

.loader > span:nth-child(5) {
  animation-delay: 1.2s;
}

.loader > span:nth-child(6) {
  animation-delay: 1.5s;
}

.loader > span:nth-child(7) {
  animation-delay: 1.8s;
}
.modal-card {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 220vh !important;
  background-color: rgba(0, 0, 0, 0.644);
  z-index: 2000;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.modal-card > div {
  position: absolute;
  top: 8.5%;
  border: black 1px solid;
}
